<!-- Static sidebar for desktop -->
<div class="hidden md:flex md:flex-shrink-0">
  <div class="flex flex-col w-64">
    <div class="flex items-center h-16 flex-shrink-0 px-6 bg-red-800 border-b border-black">
      <p class="logo-font text-3xl text-white font-semibold"><i class="fas fa-road text-xl"></i> roadze<span class="text-sm">.io</span></p>
    </div>
    <div class="h-0 flex-1 flex flex-col overflow-y-auto">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <nav class="flex-1 py-4 bg-red-800">
        <%= link_to '#' do %>
          <div class="group flex items-center px-6 py-2 text-sm leading-5 text-gray-300 hover:text-white hover:bg-red-700 focus:outline-none focus:bg-red-700 transition ease-in-out duration-150">
            <div class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150">
              <i class="far fa-tachometer-slow fa-lg"></i>
            </div>
            Dashboard
          </div>
        <% end %>
        <%= link_to '#' do %>
          <div class="mt-1 group flex items-center px-6 py-2 text-sm leading-5 text-gray-300 hover:text-white hover:bg-red-700 focus:outline-none focus:bg-red-700 transition ease-in-out duration-150">
            <div class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150">
              <i class="far fa-tools fa-lg"></i>
            </div>
            Assets
          </div>
        <% end %>
        <%= link_to '#' do %>
          <div class="mt-1 group flex items-center px-6 py-2 text-sm leading-5 text-gray-300 hover:text-white hover:bg-red-700 focus:outline-none focus:bg-red-700 transition ease-in-out duration-150">
            <div class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150">
              <i class="far fa-users fa-lg"></i>
            </div>
            Clients
          </div>
        <% end %>
        <%= link_to '#' do %>
          <div class="mt-1 group flex items-center px-6 py-2 text-sm leading-5 text-gray-300 hover:text-white hover:bg-red-700 focus:outline-none focus:bg-red-700 transition ease-in-out duration-150">
            <div class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150">
              <i class="fas fa-map-marker-alt fa-lg"></i>
            </div>
            Locations
          </div>
        <% end %>
        <%= link_to '#' do %>
          <div class="mt-1 group flex items-center px-6 py-2 text-sm leading-5 text-gray-300 hover:text-white hover:bg-red-700 focus:outline-none focus:bg-red-700 transition ease-in-out duration-150">
            <div class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150">
              <i class="far fa-industry-alt fa-lg"></i>
            </div>
            Manufacturers
          </div>
        <% end %>
        <%= link_to '#' do %>
          <div class="mt-1 group flex items-center px-6 py-2 text-sm leading-5 text-gray-300 hover:text-white hover:bg-red-700 focus:outline-none focus:bg-red-700 transition ease-in-out duration-150">
            <div class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-300 group-focus:text-gray-300 transition ease-in-out duration-150">
              <i class="fal fa-cog fa-lg"></i>
            </div>
            Settings
          </div>
        <% end %>
      </nav>
    </div>
  </div>
</div> 